; Configuration file for fedpecc
; @date: 30/3/2024
; @author: Eric Reusser
;
; GLOBAL	Global parameters
; CANBUS	CAN bus paramters
; SDO		Service data object to set during initialization
; MOTOR_n	Parameters for motor n
;
; Physical units:
;    Velocity:      RPS  = Rotation/Second
;    Acceleration:  RPS2 = Rotation/Second²
;
; Displayed units:
;    Velocity:      Pitch * RPS [mm/s] resp. [deg/s]
;

[GLOBAL]
number_of_motors     = 9	# Total number of motors
number_of_leg_motors = 4	# Mandatory number of leg motors
autosave = 5			# every 5th and end position measurement 
heartbeat_freq  = 1.0		# 1 / sec
step_fine_min   = 0.001		# 51 microsteps   (= 1 micrometer @ pitch 1mm)
step_coarse_min = 0.1		# 5120 microsteps (= 100 micrometer @ pitch 1mm)
velocity_min    = 0.1		# RPS
velocity_max    = 12.		# RPS

[CANBUS]
channel = can0
bustype = socketcan
bitrate = 500000

[SDO]
Switch Parameters 1		# 0, if limit switches are active
Absolute Max Current 1		# max. 255
Standby Current 1		# 8: Default value
Microstep Resolution 1		# 8 = 2⁸
Profile V1 1			# 0: Trapezoidal ramp (const. acceleration)
Ramp Wait Time 1		# 3277 (100 ms waiting time after position)

[MOTOR_0]
name = ZBR
node = 1
eds  = modules/TMCM-1260.eds
pitch = 2			# mm/rotation
default_velocity_pp  = 1.		# RPS
default_acceleration = 1.		# RPS²
pos_limit_min        = -150.	# mm
pos_limit_max        = 400.	    # mm
pos_default_value    = 1.	    # mm
pos_step             = 1.		# mm
full_step = 200
Microstep Resolution 1 = 8
Switch Parameters 1 = 0			# 0, if switches are active; 3 if not active
Absolute Max Current 1 = 128	# 0 - 255
Standby Current 1 = 8		# 0 - 255
Profile V1 1 = 0
Ramp Wait Time 1 = 3277

[MOTOR_1]
name = ZBC
node = 2
eds  = modules/TMCM-1260.eds
pitch = 2						# mm/rotation
default_velocity_pp  = 1.		# RPS
default_acceleration = 1.		# RPS²
pos_limit_min        = -150.	# mm
pos_limit_max        = 400.	    # mm
pos_default_value    = 1.		# mm
pos_step			 = 1.		# mm
full_step = 200
Microstep Resolution 1 = 8
Switch Parameters 1 = 0			# 0, if switches are active; 3 if not active
Absolute Max Current 1 = 128
Standby Current 1 = 8
Profile V1 1 = 0
Ramp Wait Time 1 = 3277

[MOTOR_2]
name = ZDR
node = 3
eds  = modules/TMCM-1260.eds
pitch = 2						# mm/rotation
default_velocity_pp  = 1.		# RPS
default_acceleration = 1.		# RPS²
pos_limit_min        = -150.	# mm
pos_limit_max        = 400.	    # mm
pos_default_value    = 1.		# mm
pos_step			 = 1.		# mm
full_step = 200
Microstep Resolution 1 = 8
Switch Parameters 1 = 0			# 0, if switches are active; 3 if not active
Absolute Max Current 1 = 128
Standby Current 1 = 8
Profile V1 1 = 0
Ramp Wait Time 1 = 3277

[MOTOR_3]
name = ZDC
node = 4
eds  = modules/TMCM-1260.eds
pitch = 2						# mm/rotation
default_velocity_pp  = 1.		# RPS
default_acceleration = 1.		# RPS²
pos_limit_min        = -150.	# mm
pos_limit_max        = 400.	    # mm
pos_default_value    = 1.		# mm
pos_step			 = 1.		# mm
full_step = 200
Microstep Resolution 1 = 8
Switch Parameters 1 = 0			# 0, if switches are active; 3 if not active
Absolute Max Current 1 = 128
Standby Current 1 = 8
Profile V1 1 = 0
Ramp Wait Time 1 = 3277

[MOTOR_4]
name  = X
node  = 5
eds   = modules/TMCM-1260.eds
pitch = 1.0						# mm/rotation
default_velocity_pp  = 1.		# RPS
default_acceleration = 1.		# RPS²
pos_limit_min        = -100.	# mm
pos_limit_max        = 100.		# mm
pos_default_value    = 1.		# mm
pos_step			 = 1.		# mm
full_step = 200
Microstep Resolution 1 = 8
Switch Parameters 1 = 0			# 0, if switches are active; 3 if not active
Absolute Max Current 1 = 128
Standby Current 1 = 8
Profile V1 1 = 0
Ramp Wait Time 1 = 3277

[MOTOR_5]
name = PR
node = 6
eds   = modules/TMCM-1260.eds
pitch = 5.14						# deg/rotation
default_velocity_pp  = 2.		# RPS
default_acceleration = 1.		# RPS²
pos_limit_min        = -180.	# deg
pos_limit_max        = 180.		# deg
pos_default_value    = 1.		# deg
pos_step			 = 1.		# deg
full_step = 200
Microstep Resolution 1 = 8
Switch Parameters 1 = 0			# 0, if switches are active; 3 if not active
Absolute Max Current 1 = 128
Standby Current 1 = 8
Profile V1 1 = 0
Ramp Wait Time 1 = 3277

[MOTOR_6]
name = CR
node = 7
eds  = modules/TMCM-1260.eds
pitch = 0.1						# deg/rotation
default_velocity_pp  = 2.		# RPS
default_acceleration = 2.		# RPS²
pos_limit_min        = -3.	# deg
pos_limit_max        = 3.		# deg
pos_default_value    = 0.1		# deg
pos_step			 = 0.1		# deg
full_step = 200
Microstep Resolution 1 = 8
Switch Parameters 1 = 0			# 0, if switches are active; 3 if not active
Absolute Max Current 1 = 128
Standby Current 1 = 8
Profile V1 1 = 0
Ramp Wait Time 1 = 3277

[MOTOR_7]
name = S
node = 8
eds  = modules/TMCM-1260.eds
pitch = 0.1						# mm/rotation
default_velocity_pp  = 1.		# RPS
default_acceleration = 1.		# RPS²
pos_limit_min        = -100.	# mm
pos_limit_max        = 200.		# mm
pos_default_value    = 1.		# mm
pos_step			 = 1.		# mm
full_step = 200
Microstep Resolution 1 = 8
Switch Parameters 1 = 0			# 0, if switches are active; 3 if not active
Absolute Max Current 1 = 128
Standby Current 1 = 8
Profile V1 1 = 0
Ramp Wait Time 1 = 3277

[MOTOR_8]
name = P
node = 9
eds  = modules/TMCM-1260.eds
pitch = 1.0						# mm/rotation
default_velocity_pp  = 1.		# RPS
default_acceleration = 1.		# RPS²
pos_limit_min        = 0.		# Not used
pos_limit_max        = 0.		# Not used
pos_default_value    = 0.		# Not used
pos_step			 = 0.		# Not used
full_step = 200
Microstep Resolution 1 = 8
Switch Parameters 1 = 0			# 0, if switches are active; 3 if not active
Absolute Max Current 1 = 128
Standby Current 1 = 56
Profile V1 1 = 0
Ramp Wait Time 1 = 3277
